body {
    background-color: lightblue;
}
button {
  border-color: lightblue;
  border-style: solid;
  font-family: Roboto;
  color: white;
}
#startButton {
  background-color: green;
}
#pauseButton {
  background-color: #fcba03;
}
#stopButton {
  background-color: red;
}
.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  
}
button:hover {
  border-color: black;
}
#apple {
  display: flex;
  justify-content: center;
  position: relative;
}
#time {
  font-family: 'Orbitron';font-size: 20px;
  display: flex;
  justify-content: center;
  top: 20%;
  position: absolute;
  width: 100px;
}
#time:hover {
  background-color: yellow !important; /* https://stackoverflow.com/questions/10964729/javascript-style-overriding-css-hover*/
}
/* https://www.w3schools.com/css/css_navbar_horizontal.asp */
ul {                    
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
